@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar {
    background-color: #9e99ff;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-container {

    width: 1088px;
}